<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=<% settings.charset %>" />
    <title>react demo</title>
    <link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/react.js"></script>
    <script src="javascripts/JSXTransformer.js"></script>
    <script src="javascripts/showdown.js"></script>
</head>
<body>
<% content %>
<div id="footer">
</div>
</body>
</html>
